.newul ul {
    border: 1px solid #ebebeb;
    padding-left: 18px;
    margin-top: -34px;
    padding-bottom: 12px;
    display: block;
    position: absolute;
    background: #ffffff;
    width: 21%;
}
.newul ul li {
    list-style: none;
}

.newul ul li a {
    font-size: 16px;
	color: #1c1c1c;
	line-height: 39px;
	display: block;
}

.newul ul li a:hover {
    text-decoration-line: underline;
    cursor: pointer;
}

/* style for slide  */
.App {
    font-family: sans-serif;
}

.rec rec-dot rec rec-dot_active {
    background-color: #7fad39;
    box-shadow: 0 0 1px 3px #7fad39;
}

.slick-prev:before, .slick-next:before {
    color: #7fad39;
}

/* new style */
  